html{
    max-width: 400%;
    height: 100%;
}

div.contenedor{
    max-width: 400%;
    float: right;
    text-transform: uppercase;
    word-spacing: 5px;
    padding: 5px;
    
}

.titulo{
    padding: 10px;
    width:100%;
    height: auto;
    margin:auto;
    font-family: 'Rye', cursive;
    text-transform: uppercase;
    text-align: center;
    color:gold;
    text-shadow: 2px 2px 2px slategrey;
    
}
body{
    width:100%;
    height:auto;
    max-width: 400%;
    margin:0;
    padding:0;
    background: linear-gradient(#391E46,#1E4639);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav a{
    text-decoration: none;
    color:darkgoldenrod;
    padding: 10px;
}
a:hover{
    background-color: #182747;

}
.introduction{
    text-align: center;
    color:#F2F2FF;
    padding:5px;
}
.description{
    font-family:'Kanit', sans-serif;
}
.clase_uno{
    width:100%;
    text-align: center;
    color:#FFD372;
    text-shadow: 2px 2px 2px slategray;
}
.caballeros{
    text-align: justify;
    width: 100%;
    max-width: 400%;
    padding: 5px;
    color:#F2F2FF;
    width: 20%;
    float: left;
    overflow: auto;



}
/*Usamos el width " X %" y height en auto para que donde se lo abra se ajuste a la pantalla automaticamente */
.miniatura{
    width:80%;
    margin: auto;
    max-width: 400%;
    height: auto;
    padding:5px;
    border-radius: 100px;
}
